@model AchievementDisplay.Models.ProfileDisplayModel
           
<div id = "display_profile">
    <h2>
        Account Totals
    </h2>
    <table>
        <tr>
            <th>
                Game Total
            </th>
            <th>
                Games With Stats
            </th>
            <th>
                Games with Achievements
            </th>
            <th>
                Possible Achievements    
            </th>
            <th>
                Obtained Achievements    
            </th>
        </tr>
        <tr>
            <td>
                @Model.steamGameTotal
            </td>
            <td>
                @Model.steamActualGameTotal
            </td>
            <td>
                @Model.gamesWithAch    
            </td>
            <td>
                @Model.possAch    
            </td>
            <td>
                @Model.obtainedAch    
            </td>
        </tr>
    </table>

    <h2>
        Games With Achievements
    </h2>
    <!-- display each game, with the stats for that individual game, ordered by something? -->
    <div>
            <table>
                <tr>
                    <th>
                        Games
                    </th>
                    <th>
                        SteamId
                    </th>
                    <th>
                        Possible Achievements
                    </th>
                    <th>
                        Obtained Achievements
                    </th>
                </tr>
                 @foreach (var game in Model.listOfGames)
                 {
                <tr>
                    <th>
                        @game.Name
                    </th>
                    <th>
                        @game.AppId
                    </th>
                    <th>
                        @game.PossibleAch
                    </th>
                    <th>
                        @game.ObtainedAch
                    </th>
                </tr>
                  }
            </table>
        </div>
 
</div>
